<!-- <ion-header>
  <ion-navbar>
	<ion-title>Районы</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>
	<ion-navbar>
		Районы
		<ion-buttons end>
			<button ion-button icon-only (click)="create()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<p padding class='error' *ngIf="errorMsg">Ошибка: {{ errorMsg }}</p>
	<p padding class='info' *ngIf="infoMsg">{{ infoMsg }}</p>
	
	<list [list]="list" (showEvent)="show($event)"></list>

	<ion-fab right bottom>
		<button ion-fab mini color="primary" (click)="create()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
</ion-content>
