<ion-header>
  <ion-navbar>
    <ion-title>Районы</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<p padding class='error' *ngIf="errorMsg">Ошибка: {{ errorMsg }}</p>
	<p padding class='info' *ngIf="infoMsg">{{ infoMsg }}</p>
	
	<!-- список мест -->
	<ion-list>
		<ion-list-header *ngIf="places">Места в районе &laquo;{{ name }}&raquo;:</ion-list-header>
		<ion-item *ngFor="let place of places">{{ place.name }}</ion-item>
	</ion-list>

	<!-- новое место -->
	<ion-item>
		<ion-label floating>Название нового места</ion-label>
		<ion-input type="text" value="" #newPlaceName></ion-input>
	</ion-item>
	<div padding>
		<button ion-button block (click)="addPlace(newPlaceName.value); newPlaceName.value=''">Добавить</button>
	</div>
</ion-content>