<ion-header>
  <ion-navbar>
	<ion-title>Район &laquo;{{name}}&raquo;</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<p padding class='error' *ngIf="errorMsg">Ошибка: {{ errorMsg }}</p>
	<p padding class='info' *ngIf="infoMsg">{{ infoMsg }}</p>
	
	<ion-card>
		<ion-item> 
			<h2>{{name}}</h2> 
			<ion-icon small item-right name="create" color="primary" (click)="editItem(id)"></ion-icon>
			<ion-icon small item-right name="trash" (click)="removeItem(id)"></ion-icon>
		</ion-item>
		
		<ion-card-content *ngIf="description">{{description}}</ion-card-content>

		<places-of-region [region_id]="id" [title]='qwerty2' (showEvent)="show($event)"></places-of-region>
	</ion-card>
</ion-content>
