<!-- Просмотр района. -->

<ion-header>
  <ion-navbar>
	<ion-title>Район &laquo;{{name}}&raquo;</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<p padding class='error' *ngIf="errorMsg">Ошибка: {{ errorMsg }}</p>
	<p padding class='info' *ngIf="infoMsg">{{ infoMsg }}</p>
	
	<ion-card>
		<ion-card-header>
			<ion-item>
				<h2>{{id}}: {{name}} :{{id}}</h2>
				<ion-icon name="create" color="secondary" title='Изменить' item-right (click)="editItem(id)"></ion-icon>
				<ion-icon name="trash" color="danger" title='Удалить' item-right (click)="removeItem(id)"></ion-icon>
			</ion-item>
		</ion-card-header>
		
		<ion-card-content *ngIf="description">{{description}}</ion-card-content>
	</ion-card>

	<place-list [region_id]="id"></place-list>
</ion-content>